<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Mini-board</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/views/index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>URIController</servlet-name>
  	<servlet-class>com.board.mini.controller.URIController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>URIController</servlet-name>
	<url-pattern>/views/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>UserController</servlet-name>
  	<servlet-class>com.board.mini.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UserController</servlet-name>
	<url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  
</web-app>